<div class="ScrollSmoother-content">
  <section class="blog-wrapper news-wrapper section-padding">
    <div class="container">
      <div class="news-area">
        <div class="row">

          <div class="col-12 col-lg-8">
            <div class="blog-post-details border-wrap mt-0">

              <div *ngIf="loading" class="single-blog-post post-details mt-0">
                <div class="post-content pt-0">
                  <p>Cargando publicación...</p>
                </div>
              </div>

              <div *ngIf="!loading && !post" class="single-blog-post post-details mt-0">
                <div class="post-content pt-0">
                  <h2 class="mt-0">Post not found</h2>
                  <p>This publication is no longer available.</p>

                  <a routerLink="/blog" class="theme-btn mt-4 line-height">
                    <span>Back to blog</span>
                  </a>
                </div>
              </div>

              <ng-container *ngIf="!loading && post">
                <div class="single-blog-post post-details mt-0">
                  <div class="post-content pt-0">

                    <h2 class="mt-0">
                      {{ post.title }}
                    </h2>

                    <div class="post-meta mt-3">
                      <span *ngIf="post.category">
                        <i class="fal fa-folder"></i>{{ post.category }}
                      </span>

                      <span>
                        <i class="fal fa-calendar-alt"></i>{{ formatDate(post) }}
                      </span>
                    </div>

                    <img
                      [src]="getCoverUrl(post)"
                      [alt]="post.title"
                      class="single-post-image">

                    <p *ngIf="post.excerpt">
                      {{ post.excerpt }}
                    </p>

                    <div
                      class="blog-rich-content"
                      [innerHTML]="post.content">
                    </div>

                    <div class="blog-gallery" *ngIf="getGalleryUrls(post).length">
                      <img
                        *ngFor="let image of getGalleryUrls(post)"
                        [src]="image"
                        [alt]="post.title"
                        class="single-post-image">
                    </div>

                  </div>
                </div>

                <div class="row tag-share-wrap">
                  <div class="col-lg-8 col-12">
                    <h4>Related Tags</h4>

                    <div class="tagcloud">
                      <a href="javascript:void(0)" *ngIf="post.category">
                        {{ post.category }}
                      </a>

                      
                    </div>
                  </div>

                  
                </div>
              </ng-container>

            </div>
          </div>

          <div class="col-12 col-lg-4">
            <div class="main-sidebar">

              <div class="single-sidebar-widget">
                <div class="wid-title">
                  <h3>Search</h3>
                </div>

                <div class="search_widget">
                  <form (submit)="onSearchSubmit($event)">
                    <input
                      type="text"
                      name="search"
                      [(ngModel)]="searchTerm"
                      placeholder="Keywords here....">

                    <button type="submit">
                      <i class="fal fa-search"></i>
                    </button>
                  </form>
                </div>
              </div>

              <div class="single-sidebar-widget" *ngIf="popularPosts.length">
                <div class="wid-title">
                  <h3>Popular Feeds</h3>
                </div>

                <div class="popular-posts">
                  <div
                    class="single-post-item"
                    *ngFor="let item of popularPosts"
                    (click)="goToPost(item.slug)"
                    style="cursor: pointer;">

                    <div
                      class="thumb bg-cover"
                      [style.background-image]="'url(' + getCoverUrl(item) + ')'">
                    </div>

                    <div class="post-content">
                      <h5>
                        <a href="javascript:void(0)">
                          {{ item.title }}
                        </a>
                      </h5>

                      <div class="post-date">
                        <i class="far fa-calendar-alt"></i>{{ formatDate(item) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-sidebar-widget" *ngIf="categories.length">
                <div class="wid-title">
                  <h3>Categories</h3>
                </div>

                <div class="widget_categories">
                  <ul>
                    <li *ngFor="let category of categories">
                      <a href="javascript:void(0)">
                        {{ category.name }}
                        <span>{{ category.count }}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>