<!-- Search Area Start -->


<div class="ScrollSmoother-content">


    <!--<< Blog Wrapper Here >>-->
    <section class="blog-wrapper news-wrapper section-padding">
        <div class="container">
            <div class="news-area">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="blog-posts">

                            <div *ngIf="loading" class="single-blog-post">
                                <div class="post-content">
                                    <p>Cargando publicaciones...</p>
                                </div>
                            </div>

                            <div *ngIf="!loading && !filteredPosts.length" class="single-blog-post">
                                <div class="post-content">
                                    <h2>No posts found</h2>
                                    <p>No publications match your search.</p>

                                    <button *ngIf="searchTerm" type="button" class="theme-btn mt-4 line-height"
                                        (click)="clearSearch()">
                                        <span>Clear search</span>
                                    </button>
                                </div>
                            </div>

                            <div class="single-blog-post" *ngFor="let item of filteredPosts">
                                <div class="post-featured-thumb bg-cover"
                                    [style.background-image]="'url(' + getCoverUrl(item) + ')'">

                                    <div class="post-date">
                                        <h4>
                                            {{ getPostDay(item) }} <br>
                                            <span>{{ getPostMonth(item) }}</span>
                                        </h4>
                                    </div>
                                </div>

                                <div class="post-content">
                                    <div class="post-meta">
                                        <span *ngIf="item.category">
                                            <i class="fal fa-folder"></i>{{ item.category }}
                                        </span>

                                        <span>
                                            <i class="fal fa-calendar-alt"></i>{{ formatDate(item) }}
                                        </span>
                                    </div>

                                    <h2>
                                        <a [routerLink]="['/blog', item.slug]">
                                            {{ item.title }}
                                        </a>
                                    </h2>

                                    <p>
                                        {{ item.excerpt }}
                                    </p>

                                    <a [routerLink]="['/blog', item.slug]" class="theme-btn mt-4 line-height">
                                        <span>READ MORE <i class="fas fa-chevron-right"></i></span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="main-sidebar">
                            <div class="single-sidebar-widget">
                                <div class="wid-title">
                                    <h3>Search</h3>
                                </div>

                                <div class="search_widget">
                                    <form (submit)="onSearchSubmit($event)">
                                        <input type="text" name="search" [(ngModel)]="searchTerm"
                                            placeholder="Keywords here....">

                                        <button type="submit">
                                            <i class="fal fa-search"></i>
                                        </button>
                                    </form>

                                    <button *ngIf="searchTerm" type="button" class="clear-search-btn"
                                        (click)="clearSearch()">
                                        Clear search
                                    </button>
                                </div>
                            </div>
                            <div class="single-sidebar-widget">
                                <div class="wid-title">
                                    <h3>Popular Feeds</h3>
                                </div>
                                <div class="popular-posts">
                                    <div class="single-post-item" *ngFor="let item of popularPosts">
                                        <div class="thumb bg-cover"
                                            [style.background-image]="'url(' + getCoverUrl(item) + ')'">
                                        </div>

                                        <div class="post-content">
                                            <h5>
                                                <a [routerLink]="['/blog', item.slug]">
                                                    {{ item.title }}
                                                </a>
                                            </h5>

                                            <div class="post-date">
                                                <i class="far fa-calendar-alt"></i>{{ formatDate(item) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-sidebar-widget">
                                <div class="wid-title">
                                    <h3>Categories</h3>
                                </div>
                                <div class="widget_categories">
                                    <ul>
                                        <li *ngFor="let category of categories">
                                            <a href="javascript:void(0)">
                                                {{ category.name }}
                                                <span>{{ category.count }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>