<section class="wallpaper-page">
  <app-start
    *ngIf="currentStep === 'start'"
    [selectedStartOption]="selectedStartOption"
    (selectOption)="selectStartOption($event)"
    (continue)="goToPreferences()">
  </app-start>

  <app-preferences
    *ngIf="currentStep === 'preferences'"
    [priorities]="priorities"
    [styles]="styles"
    [showAllStyles]="showAllStyles"
    [selectedPriorities]="selectedPriorities"
    [selectedStyle]="selectedStyle"
    (togglePriorityEvent)="togglePriority($event)"
    (selectStyleEvent)="selectStyle($event)"
    (toggleStylesEvent)="toggleStyles()"
    (back)="goBackToStart()"
    (continue)="goToProject()">
  </app-preferences>

  <app-project
    *ngIf="currentStep === 'project'"
    [projects]="projects"
    [selectedProject]="selectedProject"
    [projectDescription]="projectDescription"
    (selectProjectEvent)="selectProject($event)"
    (descriptionChange)="setProjectDescription($event)"
    (back)="goBackFromProject()"
    (getResultsEvent)="getResults()">
  </app-project>

  <app-results
    *ngIf="currentStep === 'results'"
    [brands]="brands"
    [selectedPriorities]="selectedPriorities"
    [selectedStyle]="selectedStyle"
    [selectedProject]="selectedProject"
    [projectDescription]="projectDescription"
    (openBrandEvent)="openBrand($event)"
    (back)="goBackToProject()"
    (startOver)="resetWizard()">
  </app-results>
  
<!--   <app-local-results
  *ngIf="currentStep === 'local-results'"
  (shopOnline)="selectedStartOption = 'shop-online'; currentStep = 'preferences'"
  (findInstaller)="currentStep = 'project'"
  (startOver)="resetWizard()">
</app-local-results> -->

<app-local-results
  *ngIf="currentStep === 'local-results'"
  (shopOnline)="goFromLocalResultsToPreferences()"
  (findInstaller)="goFromLocalResultsToProject()"
  (startOver)="resetWizard()">
</app-local-results>
</section>